@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  background-color: #405d67;
}

/* header */

header {
  background-color: #378da9;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 10 10 100%;
  box-shadow: 0.5px 0.5px 10px white;
}

header h1 {
  color: white;
  font-family: "Tektur", cursive;
  font-size: 2rem;
}

header .navegacao-header {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navegacao-header li a {
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}

section {
  display: flex;
  padding: 50px;
  flex: 10 10 100%;
}

.descricao-section {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

.descricao-section h1 {
  color: white;
  font-size: 40px;
  font-family: "Tektur", cursive;
}

.descricao-section p {
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.descricao-section a {
  display: flex;
  justify-content: center;
  color: white;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 40px;
  background-color: #378da9;
  border: none;
  box-shadow: 0.5px 0.5px 5px white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.descricao-section img {
  border-radius: 20px;
  max-width: 35%;
  box-shadow: 0.5px 0.5px 5px white;
}

.sobre-section {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  background-color: #8dadb7;
  gap: 60px;
  padding: 80px;
}

.sobre-section h2 {
  color: white;
  font-size: 40px;
  font-family: "Signika", sans-serif;
}

.sobre-section p {
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;
}

.sobre-section img {
  max-width: 50%;
}

.projetos-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.projetos-section #titulo {
  color: white;
  font-family: "Signika", sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
}

.card-projetos {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
}

.card-projetos a {
  display: flex;
  flex-direction: row;
  color: white;
}

.card-projetos img {
  border-radius: 5px;
  max-height: 100px;
}

.projetos-botao button {
  padding: 30px;
  padding: 10px 80px;
  border-radius: 20px;
  margin-top: 50px;
  border: none;
  color: white;
  background-color: #378da9;
  box-shadow: 0.5px 0.5px 5px white;
}

.habilidades-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #8dadb7;
  padding-bottom: 150px;
}

.titulo-habilidade h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
  font-size: 40px;
  margin-bottom: 50px;
  color: white;
}

.habilidades-section h5 {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.barra-progresso {
  width: 500px;
  --progress: 80;
  height: 20px;
  background-color: white;
  display: flex;
  border-radius: 20px;
}

.barra-progresso::before {
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: #405d67;
  border-radius: 20px;
}

/* .habili-lado{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

footer {
  background-color: #378da9;
  padding: 10px;
  display: flex;
  flex: 10 10 100%;
  justify-content: space-around;
  box-shadow: 0.5px 0.5px 10px white;
}

footer .contatos {
  display: flex;
  gap: 200px;
  align-items: center;
}

.contatos li,
a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 0.8rem;
  }

  header .navegacao-header {
    gap: 10px;
  }

  .navegacao-header li a {
    font-size: 10px;
  }

  .descricao-section h1 {
    font-size: 25px;
  }

  .descricao-section p {
    font-size: 15px;
  }

  .descricao-section a {
    padding: 5px 15px;
    border-radius: 25px;
    margin-top: 15px;
    font-size: 13px;
  }

  .sobre-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 55px;
  }

  .sobre-section h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  .sobre-section p {
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 20px;
  }

  .projetos-section #titulo {
    font-size: 15px;
  }

  .projetos-section {
    display: flex;
    justify-content: center;
  }

  .card-projetos {
    gap: 5px;
  }

  .card-projetos a {
    padding: 0px;
    margin-bottom: 10px;
  }

  .card-projetos img {
    max-height: 60px;
  }

  .projetos-botao button {
    padding: 5px 40px;
    border-radius: 10px;
    margin-top: 25px;
    font-size: 11px;
  }

  .titulo-habilidade h1 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .habilidades-section h5 {
    font-size: 13px;
    padding: 5px;
  }

  .barra-progresso {
    width: 350px;
    height: 13px;
  }

  footer .contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .contatos li,
  a {
    font-size: 15px;
    padding: 10px;
  }
}

/* footer {
  background-color: #378da9;
  padding: 10px;
  display: flex;
  flex: 10 10 100%;
  justify-content: space-around;
  box-shadow: 0.5px 0.5px 10px white;
}

footer .contatos {
  display: flex;
  gap: 200px;
  align-items: center;
}

.contatos li,
a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px;
} */
